{% extends "base.html" %}

{% block conteudo %}

    <h1>Cadastrar novo livro<h1>
    
         <!--mensagem de erro-->
    {% for mensagem in messages %}
        <div class="alert alert-success" role="alert">
            {{mensagem}}
        </div>
    {% endfor %}    
    
    <!--Formulário de cadastro-->
    <form method="post" action="{% url 'livro_adicionar' %}">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-secondary" type="submit">Cadastrar</button>
    </form>


{% endblock conteudo %}