/* Reset de margin e padding padrão */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.sidebar a {
  padding: 15px 25px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #555;
}

/* Conteúdo Principal */
.content {
  margin: 15px;
  border-radius: 15px;
  margin-left: 270px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1, h2, h3 {
  color: #333;
  margin-bottom: 20px;
}

/* Formulários */
label {
  font-size: 18px;
}

.btn {
  margin-top: 16px;
}

/* Tabelas */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Formulário de Busca */
.main-search-container {
  display: flex;
  justify-content: space-evenly;
  margin: 16px 0;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #45a049;
}
